* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16002d;
    overflow-x: hidden;
}

input {
    cursor: pointer;
    user-select: none;

}

button {
    cursor: pointer;
    height: 50%;
    background-color: #5b3f87;
    color: #F7F411;
    border-radius: 5px;
    border: none;
    padding: 3px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #e43b52;
}




#input-nome::placeholder {
    color: rgba(247, 244, 17, 0.5);
}

.header-aberta {
    background-color: #5b3f87;
    max-height: 100%;
    min-height: 100vh;
    width: 272px;
    display: flex;
    justify-content: right;
    overflow-y: auto;
    padding: 10px 0 10px 5px;
}

.header-fechada {
    display: none;
}

ul {
    background-color: #4366b8;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    min-width: 195px;
}

li.salvo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
    height: 70px;

}

li.salvo:nth-child(1) {
    margin-top: 5px;
}


li.salvo:hover {
    height: 200px;
}

li.salvo:hover .chart-salvo {
    height: 200px;
    border-radius: 50%
}

li.salvo:hover .imagem-salva {
    opacity: 0;
}


.chart-salvo {
    background-color: white;
    opacity: 0;
    height: 70px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
}

.imagemLixeira {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 22px;
    width: 22px;
    z-index: 2;
    transition: 0.5s;
}

.imagemLixeira:hover {
    height: 25px;
    width: 25px;
}

a.a-salvo {
    position: absolute;
}

a p {
    color: #F7F411;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    -webkit-text-stroke: 0.8px black;
    /* Largura e cor do contorno */

}

.img-salvos {
    max-width: 195px;
    position: absolute;
}

.chart-salvo:hover {
    opacity: 1;
    height: 100%;
}

.chart-salvo:hover+.imagem-salva {
    opacity: 0;
}

.chart-salvo * {
    display: none;
}

.chart-salvo:hover * {
    display: flex;
}

.chart-salvo:hover text {
    display: block;
}

.chart-salvo:hover h5 {
    display: block;
}

.a-chartzinho {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 8px;
    text-align: center;
    width: max-content;
}

.power-chart-salvo {
    position: absolute;
    bottom: 170px;
    width: 100px;
}

.speed-chart-salvo {
    position: absolute;
    bottom: 133px;
    left: 111px;
    transform: rotate(60deg);
    width: 100px;
}

.range-chart-salvo {
    position: absolute;
    bottom: 60px;
    left: 111px;
    transform: rotate(-60deg);
    width: 100px;
}

.durability-chart-salvo {
    position: absolute;
    bottom: 20px;
    width: 100px;
}

.precision-chart-salvo {
    position: absolute;
    bottom: 60px;
    right: 111px;
    transform: rotate(60deg);
    width: 100px;
}

.potential-chart-salvo {
    position: absolute;
    bottom: 135px;
    right: 111px;
    transform: rotate(-60deg);
    width: 100px;
}

.notas-salvas {
    font-size: 15px;
    font-weight: bolder;
}

div#main {
    width: 100%;
    height: 90%;
    display: flex;

}

section#esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #341269;

}

.bola {
    background-color: #FFCF70;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.bola:hover {
    cursor: pointer;
}

.botao-salvos {
    height: 100%;
    background-color: #9D4EDD;
    display: flex;
    align-items: center;
}

#imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 70%;

}

#input-nome {
    height: 10%;
    text-align: center;
    font-size: 30px;
    border: none;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #F7F411;
    border-radius: 10px;
    top: 10px;
    position: relative;
}

#imagenszona {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}


#imagens-baixo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img#chart {
    max-width: 70%;
    max-height: 80%;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    position: relative;
    left: 20px;
    transition: 0.5s;
    color: #F7F411;
}

#color-picker {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novo-nome {
    border-radius: 10px;
}

section#imagem {
    background-color: white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

img#chart-template {
    pointer-events: none;
    position: absolute;
    height: 400px;
    width: 400px;
    z-index: 1;
}

.azinho {
    width: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nome-power {
    top: 0px;
}


#nome-speed {
    transform: rotate(60deg);
    top: 73px;
    left: 240px;
}

#nome-range {
    top: 227px;
    left: 240px;
    transform: rotate(-60deg);
}

#nome-durability {
    top: 305px;
}

#nome-precision {
    top: 227px;
    right: 240px;
    transform: rotate(60deg);
}

#nome-potential {
    top: 78px;
    right: 237px;
    transform: rotate(-60deg);
}

.notas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.nomesNovos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-width: 0;
    width: 190px;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
}

.invisiveis {
    width: 107px;
    height: 1px;
    position: relative;
    cursor: pointer;
    opacity: 0;
}

#input1 {

    top: 215px;
    left: 193px;
    transform: rotate(30deg);
}

#input2 {
    left: 34px;
    top: 240px;
    transform: rotate(90deg);
}

#input3 {
    top: 215px;
    right: 124px;
    transform: rotate(150deg);
}

#input4 {
    top: 142px;
    left: 98px;
    transform: rotate(210deg);
}

#input5 {
    top: 115px;
    left: 33px;
    transform: rotate(270deg);
}

#input6 {
    top: 141px;
    right: 30px;
    transform: rotate(330deg);
}

svg#meio {
    position: absolute;
    z-index: 0;
}

#inputImagem {
    width: 90%;
    height: 100%;
    border-radius: 3px;
}

#imageInput {
    opacity: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;

}

#input:hover>input {
    display: flex;
    opacity: 1;
}

.imagem-salva {
    width: 100%;
    height: 70px;
    position: absolute;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    direction: rtl;
}

::-webkit-scrollbar-thumb {
    background-color: #e43b52;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #370034;
}

@media screen and (max-height: 1000px) and (max-width: 500px) {

    body {
        flex-direction: column-reverse;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .header-aberta {
        width: 100vw;
        min-height: 200px;
        padding: 0;
    }

    ul {
        flex-direction: row;
        overflow-x: auto;
    }

    li.salvo:nth-child(1) {
        margin-top: 0px;
    }

    .imagem-salva {
        height: 100%;
        width: auto;
    }

    div#main {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    div#main .botao-salvos {
        width: 100%;
        height: 10%;
        justify-content: center;
    }

    #imagens {
        justify-content: center;
    }

    #imagenszona {
        flex-direction: column-reverse;
        height: auto;
    }
}
