* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-aberta {
    background-color: aqua;
    max-height: 100%;
    min-height: 100vh;
    width: 250px;
    display: flex;
}

.header-fechada {
    display: none;
}

ul {
    background-color: pink;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: fit-content;
    max-height: 100vh;
}

li.salvo {
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
}

.chart-salvo {
    background-color: white;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
    position: relative;
}

a.a-salvo {
    position: relative;
    top: 90px;
}

a p {
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img-salvos {
    max-width: 195px;
    position: absolute;
}

.chart-salvo:hover {
    opacity: 1;
}

.a-chartzinho {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 9px;
}

.power-chart-salvo {
    position: absolute;
    bottom: 170px;
}

.speed-chart-salvo {
    position: absolute;
    bottom: 130px;
    left: 149px;
    transform: rotate(60deg);
}

.range-chart-salvo {
    position: absolute;
    bottom: 60px;
    left: 149px;
    transform: rotate(-60deg);
}

.durability-chart-salvo {
    position: absolute;
    bottom: 20px;
}

.precision-chart-salvo {
    position: absolute;
    bottom: 55px;
    right: 135px;
    transform: rotate(60deg);
}

.potential-chart-salvo {
    position: absolute;
    bottom: 135px;
    right: 135px;
    transform: rotate(-60deg);
}

.notas-salvas {
    font-size: 15px;
    font-weight: bolder;
}

div#main {
    width: 100%;
    height: 80%;
    display: flex;

}

section#esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 70%;
}

.bola {
    background-color: darkgoldenrod;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.bola:hover {
    cursor: pointer;
}

.botao-salvos {
    height: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
}

#imagens {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 70%;
}

#imagenszona {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

#imagens-baixo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#chart {
    max-width: 70%;
    max-height: 80%;
}

img#input {
    max-width: 30%;
}

.direita-aberta {
    background-color: rgb(126, 126, 197);
    display: grid;
    align-items: normal;
}

.direita-fechada {
    display: none;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novo-nome {
    border-radius: 10px;
}

section#imagem {
    height: 400px;
    width: 400px;
}

img#chart-template {
    position: absolute;
    height: 400px;
    width: 400px;
}

.azinho {
    width: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nome-power {
    top: 30px;
}

#nome-speed {
    transform: rotate(60deg);
    top: 100px;
    left: 130px;
}

#nome-range {
    top: 250px;
    left: 130px;
    transform: rotate(-60deg);
}

#nome-durability {
    top: 330px;
}

#nome-precision {
    top: 250px;
    right: 130px;
    transform: rotate(60deg);
}

#nome-potential {
    top: 100px;
    right: 130px;
    transform: rotate(-60deg);
}

.notas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.nomesNovos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-width: 0;
    width: 190px;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
}